<%- include('header', {title, isLoggedIn, user}); -%>

<!--home page che mostra tutti i film, i filtri e la barra di ricerca-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <aside class="col-md-4 below-nav">
                <div class="flex-filter">
                    <form method="POST" action="/search" class="d-flex">
                        <input class="form-control form-control-aside me-2" type="search" placeholder="Cerca..." name="search">
                        <button class="btn btn-outline-light" type="submit"><i class="bi bi-search"></i></button>
                    </form>
                    <div class="space-small"></div>
                    <div class="flex-select">
                        <label class="form-label white-text">GIORNO</label>
                        <select id="date-filter" class="btn-select white-text">
                            <option selected></option>
                            <% dates.forEach((date)=> { %>
                                <option value="<%=date %>"><%= date.data %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="flex-select">
                        <label class="form-label white-text">ORARIO</label>
                        <select id="hour-filter" class="btn-select white-text">
                            <option selected></option>
                            <% hours.forEach((hour)=> { %>
                                <option value="<%=hour %>"><%= hour.ora %></option>
                            <% }); %>
                        </select>
                    </div>
                    <div class="flex-select">
                        <label class="form-label white-text">GENERE</label>
                        <select id="genre-filter" class="btn-select white-text">
                            <option selected></option>
                            <% genres.forEach((genre)=> { %>
                                <option value="<%=genre %>"><%= genre.genere %></option>
                            <% }); %>    
                        </select>
                    </div>
                    <div class="space-small"></div>
                    <div class="space-small"></div>
                    <a class="btn btn-outline-light" id="filter">FILTRA</a>
                </div>
            </aside>
            <main class="col-md-8 below-nav film-list" id="film-list">
                <% if(films===null || films.length === 0) { %>
                    <h4 class="white-text" id="no-results"> Nessun risultato trovato </h4>    
                <% } %>
                <% films.forEach((film)=> { %>
                    <%- include('film-card', {film}); -%>     
                <% }); %>
            </main>
        </div>
    </div>

<%- include('footer'); -%>